name: Preprocessing 

on:
  push:
    paths:
      - 'transactions_dataset/**'     
  
jobs:
  run-preprocessing:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: pip install -r requirements.txt  

      - name: Run preprocessing

        run: python preprocessing/automate_difa.py 

      - name: Commit processed data
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add data/processed/* # Pastikan script Anda menyimpan output di sini
          
          # Cek apakah ada perubahan sebelum commit
          if git diff-index --quiet HEAD; then
            echo "No changes to commit."
          else
            git commit -m "Auto: Update processed data"
            git push
          fi