name: Preprocessing Automation

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install scikit-learn

      - name: Run preprocessing script
        run: |
          python preprocessing/automate_difa.py

      - name: Commit processed dataset
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add preprocessing/dataset_preprocessing
          git commit -m "Auto preprocessing update"
          git push
